[user]
	name = Yogesh Parwani
	email = yogeshparwani99.yp@gmail.com

[core]
    pager = delta
    hooksPath = ~/.config/git/hooks

[interactive]
    diffFilter = delta --color-only

[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig

[delta]
    navigate = true    # use n and N to move between diff sections
    features = catppuccin-mocha
    line-numbers = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
